body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0
}

#map {
  width: calc( 90vw - 64px );
  height: calc( 90vh - 64px );
}

.navbar a {
  color: #00B7FF;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #111;
}

.black_back{
  background-color: #000;
}
.logo{
  display: inline-block;
}
.search{
  float: right;
  margin-right: 32px;
  display: inline-block;
}